<form method="GET" enctype="multipart/form-data" action="http://127.0.0.1:5000/upload?port={{ port }}">
    <input type="submit" value="upload image to display"/>
</form>
<form method="GET" enctype="multipart/form-data" action="http://127.0.0.1:5000/reset?port={{ port }}">
    <input type="submit" value="reset taction tablet"/>
</form>
<form method="GET" enctype="multipart/form-data" action="http://127.0.0.1:5000/settings?port={{ port }}">
    <input type="submit" value="update taction tablet settings"/>
</form>
